[2018-07-26 00:14] codebar33 commented on #89
Who is the magic Poseidon? :)

Sent from my iPhone

[2018-07-26 00:50] liwenjie0728 commented on #89
Hi Poseidone, I am interested. Please email me stevenlee6668@gmail.com

[2018-07-27 10:31] oct-test commented on #89
Hi, I am interested. Please email me to octanetest123@gmail.com. Thank you.

[2018-07-27 10:37] oct-test opened #90 "Message files are missing from iCloud backup"
Recently, I tried downloading the iCloud backup of my iPhone running iOS 11.4.1 and found that sms.db and attachments files are missing.

Is this a problem with iOS 11.4.1 or the tool?

[2018-07-28 10:58] oct-test commented on #87
Any progress on this issue?

[2018-07-28 13:59] Blokh commented on #90
the tool, since the Icloud's changes due to IOs 12 the tool is unable to deliver the assets.

[2018-07-29 05:56] oct-test commented on #90
Thank you for the reply.

[2018-07-29 06:49] eXqusic commented on #90
Is anyone planning to update or fork InflatableDonkey?

[2018-07-31 01:00] smander42241 commented on #87
Anyone hear anything?

[2018-07-31 04:11] oct-test commented on #90
@Blokh Is this change affecting iOS 9 and iOS 10 backups also?

[2018-07-31 04:39] Blokh commented on #90
Yes. It affects any iOS version.

[2018-07-31 10:26] oct-test commented on #87
@Blokh Any update so far?

[2018-07-31 14:44] Monst3r1999 commented on #89
Hey Mate, Im interested as well.  tonystark2020@protonmail.com

[2018-08-02 06:04] oct-test opened #91 "Maintaining InflatableDonkey For Future"
Hello @horrorho and other developers,

Thank you for such excellent piece of code. I would like to update this repository to support iOS 12 and future iOS versions.

Can anyone help me with finding the right tools for analyzing the iOS iCloud backup process? How these tools are used to understand the iCloud backup process (so that I can write the code)?

@horrorho I would appreciate if you can jum

[2018-08-02 11:49] dirkwirth commented on #91
Hey @oct-test,
in last days i tried to fix this repository with @Blokh.
I made real capture of create backup process if its can help you i glad to help you with that!
in addition, i glad to help you for this effort :)

You can talk with me in @dirkwirth (https://t.me/dirkwirth) telegram.

Have a good day,
Dirk

[2018-08-03 23:05] Blokh commented on #91
Greetings Oct-test.
we would very much to add your to our team.
please mail me at danielblokhi@gmail.com
we have a telegram group for this job. you're welcome to join.

[2018-08-03 23:07] Blokh commented on #87
Oct-test no news so far. trying to reverse engineer a request from icloud for backup.
so far hasn't got anything

[2018-08-04 04:55] preetisantoki commented on #89
Hey Mate, I'm interested as well.
Please mail me to p.santoki88@gmail.com
Thank you.

[2018-08-04 14:43] oct-test commented on #91
Hello @dirkwirth and @Blokh ,

It would be pleasure to work with you guys. @Blokh I have sent you the email.

[2018-08-12 01:50] eXqusic commented on #87
Just letting you know that "Tenorshare UltData" is using a modified version of InflatableDonkey that works for ios 12! If you install it then look  in the install location folder under iCloud, it has a copy of InflatableDonkey. I noticed that it also uses an extra file called iCloudLib.dll. So for now that can  be used.

[2018-08-12 14:54] smander42241 commented on #87
When I try to run that version I'm getting AccessDeniedExceptions, you're saying to run Tenorshare instead of that jar?

[2018-08-12 20:06] eXqusic commented on #87
No you still run the jar.

[2018-08-12 20:29] smander42241 commented on #87
are there any different variables to pass in?

[2018-08-12 20:30] eXqusic commented on #87
Run it like you normally would or just use UltData and let it do it for you.

[2018-08-12 20:34] smander42241 commented on #87
yeah when I run it via java -jar InflatableDonkey.jar username pass, it throws an AccessDeniedException

[2018-08-12 20:36] smander42241 commented on #87
If I move it to another folder it runs, but doesn't download anything

[2018-08-12 20:39] eXqusic commented on #87
Try using DsPrsID/mmeAuthToken instead. I didnt directly run it with my email and pass. Use the program and then look through the logs it makes in either program files or appdata and it should say the command it used. Just remove the domain part at the end.

[2018-08-12 20:44] smander42241 commented on #87
sweet got it thanks!

[2018-08-13 11:36] Aliasr commented on #87
I can't find the logs. Could you point us towards the file or tell us the command you used? Thanks.

[2018-08-14 04:37] eXqusic commented on #87
Its in AppData\Local\Temp\ts_download\log.txt. The command I exactly used was...
Make sure to cd into your Appdata file and run
`Tenorshare\jre\jre1.8.0_131\bin\java.exe" -jar "C:\Program Files (x86)\Tenorshare UltData\iCloud\InflatableDonkey.jar" "DsPrsID/mmeAuthToken" -o "C:\Users\NAME\AppData\Local\Temp\ts_download"`

[2018-08-16 09:41] ronburgundy264 commented on #87
Hi guys!
I got some progress on the issue but gonna need some help.
Please email me @ ronburgundy264@gmail.com if you want work together on it

[2018-08-18 04:13] #80 closed

[2018-08-18 04:28] horrorho commented on #85
Apple constantly updates it's security protocols to limit the use of tools such as InflatableDonkey.

As a number of commercial solutions unofficially use InflatableDonkey as a core it's highly unlikely that any workarounds I apply will last any length of time before Apple patches them.

[2018-08-18 04:31] horrorho commented on #86
See #87

[2018-08-18 04:31] #86 closed

[2018-08-18 04:37] horrorho commented on #89
Complaint received. I've not investigated any further, so honestly I have no idea if this is genuine or not.

However this repository is not an advertising board and I don't have time to settle disputes that are outside the scope of this project.

Locked and closed. Sorry.

[2018-08-18 04:37] #89 closed

[2018-08-18 04:46] horrorho commented on #87
Patched. Please report any bugs.

I'll be around for another week or so after which I'll likely take an indefinite hiatus.

[2018-08-18 04:47] eXqusic commented on #87
Wow thank you Horrorho!

[2018-08-18 05:02] horrorho commented on #91
@oct-test Hi. I can't offer direct assistance. I would recommend, if you haven't already done so, to look through some of the older tickets, particularly #38.

@Blokh @dirkwirth et al: Thank you for organising additional work. I would love to assist you but I'm limited by obligations that I cannot discuss. I wish you all the best.

:mouse2:

[2018-08-18 06:15] horrorho commented on #87
Although it looks like an issue that required a large patch, it really isn't. The core of the patch involves using privileged [QueryRetrieve](https://github.com/horrorho/InflatableDonkey/blob/39e05b7313d12da55aa01cf67a5957dc0ee49698/src/main/java/com/github/horrorho/inflatabledonkey/cloudkitty/operations/QueryRetrieveRequestOperations.java) instead of [RecordRetrieve](https://github.com/horrorho/I

[2018-08-18 07:35] Blokh commented on #87
Wow thank you a lot horror!

[2018-08-18 13:55] asifmehmoood commented on #87
Thank you Horrorho!
there is an issue with the backup i think when i download the backup for IOS 11.4.1 its only downloading some files not the full backup e.g it shows 42MB of backup but download only 15MB
also there is missing of HomeDomain, MediaDomain folders,

[2018-08-18 14:00] horrorho commented on #87
@asifmehmoood Heya. Would you kindly email me to discuss this further. I've only performed limiting testing on this patch, so it's entirely possible I've introduced a bug.

[2018-08-18 14:07] asifmehmoood commented on #87
Hi,
Sure let me send you the logs

[2018-08-18 16:37] horrorho commented on #87
@asifmehmoood Patched. It was an error on my part, I neglected to include an updated file. If you could confirm the issue is fixed from your end. Thank you for your assistance!

[2018-08-19 18:31] Blokh commented on #87
@horrorho  Thank you a lot again,
Listen, We've came up with a community team in order to maintain this project while you are away.
Is it possible to have a quick chat with you about what is the best practice in order to do so?
My mail is danielblokhi@gmail.com

Thanks in advance,
Daniel.

[2018-08-19 19:00] horrorho commented on #87
@Blokh I just emailed you.

:email:

[2018-08-27 07:29] jgehry82 opened #92 "2FA for iCloud Backup"
@horrorho Hello，It's so nice to see you.
I want to ask a question. How to deal with 2FA for icloud backup. Thank you.

[2018-08-27 18:05] horrorho commented on #92
Hi there. I would check out ticket #43

[2018-08-29 18:33] Pink280z commented on #87
Looks like its broken again.

[2018-08-29 19:03] asifmehmoood commented on #87
@horrorho
Yes! seems like its not working again and here is the logs for helping

response {
  operationUUID: "9826070f-c97b-432a-8aa9-785bd90b1522"
  type: QUERY_RETRIEVE_TYPE
  last: true
}
result {
  code: SUCCESS
}
queryRetrieveResponse {
}
]
23:58:55.550 [main] [39mTRACE[0;39m c.g.h.i.DownloadAssistant - << download() - assets: 0
23:58:55.565 [main] [39mDEBUG[0;39m c.g.h.i.DownloadAssista

[2018-08-29 23:14] horrorho commented on #87
@Pink280z @asifmehmoood Hi I've just pushed a new update. I'm away from home so it's only had limited testing.

I used a non-standard call to work around the privileged manifest download issue [above](#issuecomment-414059730). For whatever reason, the change has been reverted (at this point in time) and it appears to work with a regular call.

Apple are constantly updating their protocols/ securit

[2018-08-29 23:20] asifmehmoood commented on #87
Thank you @horrorho
it seems working with iOS 10.3 but not downloading iOS 11.4.1
and there are same logs as provided above

[2018-08-29 23:27] horrorho commented on #87
@asifmehmoood  Yes, I  was just was testing on another backup, the issue is still present.

Basically I used a subtle exploit that Apple has now patched.

I don't have access to formal iOS 11.4.1+ restore logs so I'm not certain of the protocol calls being used. There are other tricks we can use, however they'll just get patched like the above, so there's little point in me applying them.

[2018-09-06 12:07] murtuzakapadia121 commented on #87
@asifmehmoood IOS 11.4.1 is still an issue on your end?

[2018-09-06 12:09] murtuzakapadia121 commented on #87
@horrorho Is there any possibility of having a fix soon for iOS 11.4.1+ ? I see nothing gets downloaded for 11.4.1 and I only get an empty temp folder and a cache folder with data.enc file.

[2018-09-06 19:58] horrorho commented on #87
@murtuzakapadia121 Hi there. I've largely stopped working on this project. I'm also back in the position of having no iOS devices to test with.

If anyone is able to supply me with restore logs (http traffic)  then I can certainly take a look. Hopefully it's just a simple call that needs fixing.

Please open tickets for the issues you have as others may also benefit.

[2018-09-10 04:03] jgehry82 commented on #87
@horrorho Hello, I‘m very happy to see you again. how can i provide you with a restore logs(https traffic)

[2018-09-10 14:14] murtuzakapadia121 commented on #87
@horrorho can you provide me steps to get the restore logs from IOS device?

[2018-09-10 15:01] horrorho commented on #87
@murtuzakapadia121 Heya. Sorry I can't assist you. I'm ashamed to say that I've relied on others for iOS device restoration logs. Well, for the most part I've not owned any iOS devices, so I guess I do have some sort of excuse.

I think there is some confusion regarding my abilities, I really am no iOS expert. I spent a bit of time figuring out the mechanics underlying the restoration/ CloudKit pr

[2018-09-13 05:51] preetisantoki opened #93 "New Patch not working , not able to download backup"
Hi @horrorho  Thanks for your last patch, but that seem to be working for some time only. Currenty we are not able to download the backup of icloud.

We know like you have less time and this project is now we all need to run ourselves. We are trying but need some time and meanwhile, we request you to kindly update any new patch if needed.

Current issue: once we select specific backup to download

[2018-09-15 11:09] horrorho commented on #93
Hi. Kindly refer to #87

[2018-09-15 11:10] #93 closed

[2018-09-17 12:55] horrorho commented on #87
Patched again. Sorry for the delay, I don't own any iOS devices so it's kind of a pain to keep this project updated. I've also largely stepped back from supporting it, so once again, please don't rely on it.

[2018-09-20 08:16] misabear commented on #87
Thanks @horrorho for the update! Could you please tell me how and where did you get the new headers from?

[2018-09-20 14:05] horrorho commented on #87
@misabear Hi. I used a creative route to get hold of them. However I don't think it's something that should be made public. Sorry.

[2018-10-04 10:13] oct-test commented on #87
Is the tool broken again? I am not able to download any backups. Error shows invalid user id and password. I think there is some problem with CKInit class.

[2018-10-04 10:19] asifmehmoood commented on #87
@oct-test  i have just downloaded iOS 12 backup and looks everything fine. Please make sure you are providing the right credentials

[2018-10-04 10:21] oct-test commented on #87
Is 2FA enabled with your account?

[2018-10-04 10:22] asifmehmoood commented on #87
no, let me try with 2FA enabled account

[2018-10-04 10:30] asifmehmoood commented on #87
Yes! seems like 2FA is not working

[2018-10-04 10:35] oct-test commented on #87
"UNAUTHORIZED" response in CKInit class.

[2018-10-05 00:43] ItsASmallWorld commented on #87
@oct-test  When I run like this
`java -jar IF.jar appleid pass+response --token`
I get a 401.  I think the recent changes to CoreHeaders are causing 2fa accounts to fail.

[2018-10-05 01:02] ItsASmallWorld commented on #87
yep, that should make it work.  Revert the recent change(s) to CoreHeaders. @oct-test @horrorho

NOTE: the above works only for accounts with 2fa.

[2018-10-05 04:08] oct-test commented on #87
Thank you for the reply. Can you please refer to the commit number to which CoreHeaders should be reverted?

[2018-10-05 10:56] ItsASmallWorld commented on #87
Revert CoreHeaders back to 912f377 and you should be fine for 2fa only.  Head on master will work for non 2fa only.

[2018-10-05 15:38] misabear commented on #87
@oct-test @ItsASmallWorld Based on my testing that only helps to list the backups but it is not working for downloading assets.

[2018-10-05 15:51] ghost commented on #87
I'm having the exact same problem as @misabear. I tested on ios10, 11 and 12 2fa backups...

[2018-10-05 17:27] ItsASmallWorld commented on #87
you are correct.  CoreHeaders on head fails to authorize 2fa accounts.  CoreHeaders from a few commits ago will authorize 2fa accounts but can't pull assets for ios12 (and possibly 11, didn't check).

[2018-10-05 17:28] ItsASmallWorld commented on #87
I can pull assets for ios10 backups using reverted CoreHeaders on 2fa accounts.

[2018-10-05 18:34] ItsASmallWorld commented on #87
try this...revert CoreHeaders as i mentioned above, then change the cloudkit version from 479 to 482.30, for both user agent and client info.  should be three places you need to change.

[2018-10-05 20:16] ghost commented on #87
I tried and still can't download files from an ios11 backup. As soon as I change the iPhone OS version from 9.0.2 to something above 11 it seems to stop functioning.

[2018-10-10 04:14] justinmccombs opened #94 "Can I hire you?"
My company has a need for something like this to be integrated server side and I would be interested in speaking to you about an opportunity to build out a solution. Any interest?

[2018-10-10 16:21] horrorho commented on #94
Heya. Thank you for the offer but I already have a full time job. I also actually don't work in IT. I'm sorry.

[2018-10-10 17:12] horrorho commented on #87
Hi. Sorry for the delay. I'm out in the middle of nowhere again.

As others have stated the issue appears to do with headers, particularly the X-MMe-Client-Info header.

Example:
X-MMe-Client-Info: <iPhone10,2> <iPhone OS;11.4.1;15G77)> <com.apple.cloudkit.CloudKitDaemon/482.30 (com.apple.cloudd/482.30)>

The basic format of this header is:
\<product name> \<product version> \<build version>

This

[2018-10-15 10:48] jgehry82 commented on #87
I found that I have not opened the 2fa account. By modifying the following values, I can get the latest 12.0.1 backup data.
First step
.setApplicationVersion("4.0.0.0")
.setDeviceSoftwareVersion("12.0.1")

Second step
User-Agent: CloudKit/482.30 (16A405)
X-Mme-Client-Info: <iPhone11,4> <iPhone OS;12.0.1;16A405> <com.apple.cloudkit.CloudKitDaemon/482.30 (com.apple.cloudd/482.30)>

[2018-10-15 11:14] horrorho commented on #87
@jgehry82 Thank you. Unfortunately I have no devices to test with. If others are able to verify this works I can make the appropriate changes or you can submit a pull request.

Are you able to provide a fork with the appropriate changes so others are able to test it? If not, then that's fine, I can create one.

[2018-10-15 11:17] horrorho commented on #87
@jgehry82 To clarify, the issue is one of headers working for all backup types, not just certain iOS versions.

[2018-10-15 11:17] asifmehmoood commented on #87
I have just tested but fail to download the backup maybe i am changing some wrong places
@jgehry82 can you please pull the changes as requested @horrorho

[2018-10-15 11:18] asifmehmoood commented on #87
@horrorho if you know where to change, can you change and pull the changes and i can test on my 2FA account

[2018-10-15 11:53] horrorho commented on #87
@asifmehmoood https://github.com/horrorho/InflatableDonkey/tree/test_header

I've based the changes around those suggested by @jgehry82, although I've altered them slightly. You can examine the diff to master to see what I've done and play with it.

If you could also report any error/s encountered. Thank you.

[2018-10-15 11:58] asifmehmoood commented on #87
@horrorho Thank you! let me try and will be back with status

[2018-10-15 12:03] asifmehmoood commented on #87
i am not even getting Authenticate with 2FA enabled account!

[code]

[2018-10-15 12:06] asifmehmoood commented on #87
i am passing the password as password+2FA code

[2018-10-15 12:22] horrorho commented on #87
@asifmehmoood Thank you. Looks like something has changed somewhere.

[2018-10-15 14:06] jgehry82 commented on #87
Fortunately, I tested iOS9+, iOS10+, iOS11, and iOS12.0.1, only if I didn't open the 2FA account.

[2018-10-16 23:22] ItsASmallWorld commented on #87
@horrorho i'm guessing the `/authenticate` endpoint may be blocking calls containing headers with iOS >= 11.4.   The `/login_or_create_account` could also be used to retrieve a mmeAuthToken.  Have you come across the `X-Mme-Nas-Qualify` header?

[2018-10-19 17:20] dami-dami commented on #87
I have done some testing on 2FA authentication using different versions of X-MMe-Client-Info. Apparently you cannot authenticate with a 2FA account by concatenating password+code using "iPhone" as the device on this header. If you try to authenticate with a device like PC or iPad in this header, you will get a token, but when you run the requests to get the backups, it won't get anything higher th

[2018-10-19 21:35] ItsASmallWorld commented on #87
@dami-dami see my comment above yours, there are other ways to get a token that could work for 2fa.

[2018-10-22 17:21] dami-dami commented on #87
@ItsASmallWorld I did try using /login_or_create_account but I got the result I explained. I would either get unauthorized error or a token that was not valid to download backups 11.2+. I'll try that again as soon as I can to see if I can gather more concrete info.

[2018-10-22 21:16] ItsASmallWorld commented on #87
I'm beginning to this we may be a different endpoint.  Correct me if I'm wrong, but I don't remember needing to enter a response code when restoring a 2fa account during setup assistant.  Could there be another endpoint that supports 2fa accounts?

[2018-10-27 12:34] Guawazii commented on #52
Then type your password followed by the six-digit verification code directly into the password field. Unfortunately，it  return error with code 401.

[2018-10-29 16:00] jerasotin commented on #94
@laravelian
Yes, I am very interested.

[2018-10-30 02:27] Guawazii commented on #52
Did you solve 2FA problem? I need your help.

[2018-10-30 20:48] ItsASmallWorld commented on #91
@dirkwirth @Blokh are you still working on this project?

[2018-11-26 10:49] preetisantoki commented on #43
Can you give an example of how to append 6 digit code with the password to get token?

[2018-12-30 02:06] Sergiopena09 opened #95 "com.apple.facetime.bag.plist"

[2019-01-18 11:46] oct-test opened #96 "How to recreate protobuffer files?"
I am looking for some help to recreate the Cloudkit protobuffer file for the recent changes in iCloud feature. How can I get started?

[2019-01-21 09:27] oct-test commented on #96
@horrorho Can you share your knowledge here?

[2019-01-22 00:46] Aliasr commented on #96
Hi @oct-test. You can read about it here #30.

Basically you have to extract the definitions from the CloudKitDeamon framework binaries or Windows binaries using this [tool](https://drive.google.com/file/d/0B4qEZ1jtaUaUVmZadEhoZGR0cWs/view?usp=sharing). Then use [Protocol Buffer Compiler](https://github.com/protocolbuffers/protobuf) to compile them.

[2019-01-22 03:22] vipinbeni opened #97 "Out of memory for large backup"
Hi Sir, @horrorho , @Aliasr ,@oct-test ,@dirkwirth @Blokh

please help me ..
i am tried to download a icloud backup of 42 gb in size using your source but i got  below error code is working fine for small backups but for this large backup it **throwing out of memory error**

 A: DEVICE 7FBEFAB4A1D82BE321B26AA10FA0CFD35F5885B3 iPhone8,2 N66mAP
 0:	  42 GB USER’s iPhone (11.3.1)  2018-12-18T12:10:05

[2019-01-22 04:27] vipinbeni commented on #97
it is going out from here

![1d](https://user-images.githubusercontent.com/5228833/51512462-1caced00-1e2c-11e9-8cc5-147f6e061a0e.jpg)

 List<SimpleImmutableEntry<Integer, List<ResponseOperation>>> get
                    = forkJoinPool.submit(() -> list.parallelStream()
                    .map(u -> new SimpleImmutableEntry<>(u.getKey(), request(httpClient, api, header, u.getValue())))

[2019-01-22 06:05] vipinbeni commented on #97
this tool working on the same backup anybody please help to find out the problem

https://www.fonelab.com/ios-data-recovery/

[2019-01-22 07:46] oct-test commented on #96
Hello @Aliasr. Thank you for the helpful response. How can I get access to CloudKitDeamon?

[2019-01-24 10:43] vipinbeni commented on #97
Any body please help to short out the same .. @horrorho , @Aliasr ,@oct-test ,@dirkwirth @Blokh

[2019-01-25 03:48] Aliasr commented on #97
Hi @vipinbeni. Try increasing the maximum heap size. You can use the -Xmx flag when calling Inflatable Donkey.

`~/InflatableDonkey-master/target $ java -Xmx2g -jar InflatableDonkey.jar username password`

Use -Xmx1g for 1GB, -Xmx2g for 2GB, -Xmx4g for 4GB and so on...

[2019-01-31 11:00] oct-test opened #98 "Providing support for iOS 12 devices"
Recently, I am trying to make modifications to the **InflatableDonkey** git repo to make it compatible with iOS 11.4+ backups.

So far, I am able to login into the iCloud servers (even for 2FA accounts) and fetch the list of snapshots taken by each device. The code is generating following error when I try to fetch records using "**ManifestID**":

[code]

**Questions**:
I would like to understand w

[2019-02-06 17:10] alexicloud commented on #98
@oct-test could you please share your knowledge.how you modify your script to run on 2FA accounts.
please help me on this.

[2019-02-11 17:34] arif123sg commented on #87
Recent my iCloud I'd change email no email my I'd back iCloud

[2019-02-18 20:02] Galeneius commented on #98
@oct-test , did you generated the 2FA token via webcalls or extracted it from an Manifest.plist? As far as I can see it's like the code expired at some time e.g not valid anymore. Perhaps there is an extra layer in 11.4 backups that prevents the call to fetch the records.

On a similar note, with accounts lower than 11.4 and having 2FA, does your method work? Else if you do not have such a test ca

[2019-02-21 07:06] lgrimani commented on #98
Hi - I have a few questions about iOS12 backups, wondering if anyone here knows.

Does the ManifestKey/BackupKeybag change completely with each incremental differential backup? I tested this a few times and sometimes it doesn't change at all and sometimes some of the contents of the BackupKeybag change but its not clear to me how and when.

Once Manifest.DB is decrypted, does each encrypted file h

[2019-03-05 21:55] Galeneius commented on #43
Anyone managed to download a backup with 2FA on?

[2019-03-19 11:11] vipinbeni commented on #43
Anyone managed to download a backup with 2FA on?

[2019-03-20 04:57] vipinbeni commented on #43
Thank you Sir  @mattandersen  , @tpatterson   and @horrorho  ,@ajlyakhov ,@preetisantoki  Please help

    i need  to clear my problem with you all that i am adding 6 digit code at end of password  like  if code is 989898 but i **got bad apple id or password error** please tell me where and how we add the 6 digit code in arguments  please help ...

     "vipin.beniwal722@gmail.com" "mypassword9898

[2019-03-20 11:11] vipinbeni commented on #43
Hi Sir ,Please help  @horrorho  @rameshT108 @themylogin @ajlyakhov @SergeyTim @preetisantoki

i need  to clear my problem with you all that i am adding 6 digit code at end of password  like  if code is 989898 but i **got bad apple id or password error** please tell me where and how we add the 6 digit code in arguments  please help ...

 "vipin.beniwal722@gmail.com" "mypassword989898"

[2019-03-22 06:30] vipinbeni commented on #43
Please help @horrorho @rameshT108 @themylogin @ajlyakhov @SergeyTim @preetisantoki @asifmehmoood

[2019-03-25 03:49] vipinbeni commented on #97
Thanks a lot @Aliasr

[2019-03-25 03:52] vipinbeni commented on #97
Hi Sir @Aliasr  please tell me whre i am doing wrong ..
to download a backup with 2FA
i need  to clear my problem with you all that i am adding 6 digit code at end of password  like  if code is 989898 but i **got bad apple id or password error** please tell me where and how we add the 6 digit code in arguments  please help ...

 "vipin.beniwal722@gmail.com" "mypassword989898"
  I try to login www.

[2019-03-25 09:42] vipinbeni commented on #92
Any One  deal with 2FA for icloud backup?

[2019-03-26 09:18] vipinbeni commented on #52
not working for higher version please help

[2019-03-26 11:01] vipinbeni commented on #87
@jgehry82  thanks for your suggestions
https://github.com/horrorho/InflatableDonkey/tree/test_header
 but it not working after making change on ios 11.0+ its only working with ios10.3 and below please help anyone to download backup with 2FA and ios 11+ .

please help @@asifmehmoood @horrorho @ItsASmallWorld
thanks

[2019-03-28 09:21] yogendra123456 commented on #87
fgfg

[2019-03-28 09:34] yogendra123456 commented on #87
Hi
i used https://github.com/horrorho/InflatableDonkey code..
i would try to download IOS 11.2 + icloud backup with 2FA enable, but i get unauthorized error to download  IOS 11.2 + Icloud backup with 2FA.
Kindly provide  help to if any change in CKInit.java, CloudKitty.java or CoreHeaders.java class or other class....
thanks

[2019-04-19 05:04] vipinbeni commented on #43
Please help @horrorho @rameshT108 @themylogin @ajlyakhov @SergeyTim @preetisantoki @asifmehmoood

[2019-05-20 05:28] #97 closed, assigned to nobody

[2019-06-12 03:58] vipinbeni opened #99 "Misdirected Request [Server: AppleHttpServer/70a91026"
HI All,
@horrorho @viable-hartman ,

i am using build by @viable-harman
https://github.com/viable-hartman/InflatableDonkey/tree/TwoFAHacky for ios 9 icloud backup but i am getting below error could you please help me out why this is coming

" Exception in thread "main" org.apache.http.client.HttpResponseException: Misdirected Request: {"success":false,"error":"Failed to validate the credentials fr

[2019-06-12 04:00] vipinbeni commented on #52
HI Sir,
@horrorho @viable-hartman

i am using build by @viable-harman
https://github.com/viable-hartman/InflatableDonkey/tree/TwoFAHacky for ios 9 icloud backup but i am getting below error could you please help me out why this is coming

" Exception in thread "main" org.apache.http.client.HttpResponseException: Misdirected Request: {"success":false,"error":"Failed to validate the credentials from

[2019-06-13 03:14] vipinbeni commented on #52
Hi All ,

Here is change made for this problem in python but can any one please implement in java for us .
in @viable-hartman Sir build https://github.com/viable-hartman/InflatableDonkey/tree/TwoFAHacky
@horrorho @viable-hartman @ajlyakhov @fongph @michaljirman @jirmi @asifmehmoood,@SergeyTim @themylogin
 Please help for this

solution :
https://github.com/PeterHedley94/pyicloud/commit/6bf11c87c78

[2019-06-13 03:15] vipinbeni commented on #99
Hi All ,

Here is change made for this problem in python but can any one please implement in java for us .
in @viable-hartman Sir build https://github.com/viable-hartman/InflatableDonkey/tree/TwoFAHacky
@horrorho @viable-hartman @ajlyakhov @fongph @michaljirman @jirmi @asifmehmoood,@SergeyTim @themylogin
Please help for this

solution :
PeterHedley94/pyicloud@6bf11c8

[2019-06-13 03:23] Starrajat commented on #87
yes i am also facing the same issue. if you find any solution please ping me here

[2019-06-13 10:52] yogendra123456 commented on #87
HI All,

i am using build by @viable-harman
https://github.com/viable-hartman/InflatableDonkey/tree/TwoFAHacky for ios 9 icloud backup but i am getting below error could you please help me out why this is coming

" Exception in thread "main" org.apache.http.client.HttpResponseException: Misdirected Request: {"success":false,"error":"Failed to validate the credentials from cookie"}"

While Resolve

[2019-06-26 09:57] #99 closed, assigned to nobody

[2019-06-26 09:59] vipinbeni opened #100 "ios 13 support"
Hi All,

not downloading ios 13 beta backup
@horrorho @@oct-test
A: DEVICE D6F7F4121082BCAD73EEE5DD1B46056EB7A68216 iPhone8,1 N71AP
 0:	   5 MB yogi’s iPhone (12.4)  2019-06-26T04:36:11.820Z
 1:	  13 MB yogi’s iPhone (13.0)  2019-06-26T09:23:38.859Z

Enter selection (multiple values accepted, leave blank to select all, q to quit):
: 1
Retrieving snapshot:   13 MB yogi’s iPhone (13.0)  2019-06-26T0

[2019-06-27 03:56] vipinbeni commented on #100
Hi All ,
 i am testing it on ios13 beta could you all please help to make it working for ios13
Any body have idea about this internal error: unsupported key type: 0x

please help requested to implement for ios 13 please help to update this Repositorie

@horrorho @mattandersen @tmyroadctfig @rodrimc @oct-test ,@themylogin  @ajlyakhov @SergeyTim ,@tpatterson @asifmehmoood and all other working on th

[2019-07-03 04:34] Aliasr opened #101 "SSLHandshakeException - decode error"
Hi. Has anybody received SSL Handshakes errors lately? I'm getting a "decode error" since yesterday.

`Exception in thread "main" javax.net.ssl.SSLHandshakeException: Received fatal alert: decode_error
	at java.base/sun.security.ssl.Alert.createSSLException(Alert.java:131)
	at java.base/sun.security.ssl.Alert.createSSLException(Alert.java:117)
	at java.base/sun.security.ssl.TransportContext.fatal(

[2019-07-23 13:34] tapanshah1 opened #102 "IOS 12 2fa Backup not download"
I got all device snapshot(ios 12, 2fa) and i am getting all information but at last i m getting asset list empty in AssetsClient.java.

while searching record for download :
API :: POST https://p33-ckdatabase.icloud.com/api/client/record/retrieve HTTP/1.1
see attachment getting response from api

<img width="1005" alt="Screenshot 2019-07-23 at 6 59 29 PM" src="https://user-images.githubusercontent

[2019-07-25 04:33] vipinbeni commented on #102
could you please share your code

[2019-07-25 05:41] tapanshah1 commented on #102
I used same latest master branch code.
Just i added password+6Digitcode and making request and i got token after using token i am making all snapshot download request.
For 6 digit code  : In iphone Go to Setting > Tap on First top row > Tap on Password & security >  click on "Get Verfication Code"
enter that code with password Ex. password123456

[2019-07-25 23:59] Pink280z commented on #102
Unfortunately, the download of iOS 11.3/12/13 backups on accounts with 2fa has been broken since Oct 2018. See this thread:
https://github.com/horrorho/InflatableDonkey/issues/87

and the last we heard from the author:
https://github.com/horrorho/InflatableDonkey/issues/87#issuecomment-429831966

[2019-07-26 05:55] tapanshah1 commented on #102
Yes, I know that but when it going with manifest ids but that manifest ids information not there or not found. see above attachment.
May be path changed or cloudkit header change i am trying all.

[2019-08-08 05:18] tadangky commented on #43
I'm stuck here, please help @horrorho @rameshT108 @themylogin @ajlyakhov @SergeyTim @preetisantoki @asifmehmoood @tpatterson

[2019-09-03 13:27] snak3y commented on #87
EDIT: It works, thanks!

[2019-09-04 00:31] lupojpoodle commented on #87
The Anisette headers are essential. "X-Apple-I-MD" is the one time password (OTP), and is derived from the DSID and client time. It is updated every 30 seconds. "X-Apple-I-MD-M" is derived from the system configuration info that is also sent to the server.

Elcom has this (mostly) working, and here is an excellent overview:
https://sector.ca/wp-content/uploads/presentations17/vladimir-Katalov-iClo

[2019-09-25 13:25] RobLinux commented on #87
What do you mean by it works ? We're hearing 💃

[2019-09-25 15:47] RobLinux commented on #87
I have been able to initiate the handshake but I'm still getting "Your Apple ID or password is incorrect."

I'm wondering, for the SRP do you use the email + user password ?

And regarding the A2k, is it the A2k = g^rand() % N ?

One last thing, are the headers in the "cpd" dict revelant for this SRP neogication?

[2019-09-25 17:12] snak3y commented on #87
A couple of things:

1. The GSA routes aren't needed. You still need the Anisette and the existing flow works just fine if you add the Anisette to each request.

2. If you want to continue down the GSA path to get the PET token - yes, the "cpd" data is important (as it contains Anisette). Additionally, the "i" value returned is important for the purposes of your password. Your A2k seems correct.

[2019-09-25 21:38] RobLinux commented on #87
Thanks for the prompt answer.

What do you mean by GSA routes ? You mean the whole authentication path ? In this case yes I'm trying to get it

So as far as I understand the anisette data is made of the machine ID, the one time password (is it the one that should be specified in the SRP authentication ?) and the routing info.  And from the samples I have it's 60 bytes long, so minus the routing in

[2019-09-26 07:48] RobLinux commented on #87
Or is i the number of iterations for the password derivation ? 😖

[2019-09-26 13:21] snak3y commented on #87
By GSA, I mean the Grandslam authentication routes. You can certainly use them, as shown in the PDF linked above. But if all you care about is backups, then the existing method in InflatableDonkey is sufficient, assuming you have Anisette.

As lupojpoodle stated above, the machine id is X-Apple-I-MD-M. The OTP is X-Apple-I-MD, but in my experience, it's not related to DSID as suggested, because yo

[2019-09-26 13:44] RobLinux commented on #87
Thanks again.

As for the X-Apple-I-MD-M I am currently using the one iCloud for windows is generating as it never changes between logins. But I find out that the X-Apple-I-MD has a very short life span (somehow between 30s). From the samples I have found, it's always 28 bytes long, with 8 bytes of header, 4 bytes of footer (probably a binary structure) and 16 bytes that are constantly changing. I

[2019-09-27 15:18] RobLinux commented on #87
Ok looking at iCloud_Main.dll assembly in IDA it seems that it derivates (most probably using PBKDF2-SHA256 function) the password with the received salt and iterations and takes 64 bytes out of it. Then it calculates the evidence message with user name, derivated password, salt and B. It still doesn't work. I'n getting closer. Any tips ?

[2019-09-27 18:19] lupojpoodle commented on #87
You're getting very close. Derive the key by hashing the password, then calculate M1 using username, derivedKey, the same salt and the server B.

Also, when generating the M1, the "no username in X" option needs to be set for whatever crypto library you're using. Otherwise, the username will get hashed into the digest that creates the intermediate "X" value, and the M1 will be wrong.

The cpd (cli

[2019-09-27 18:43] misabear commented on #87
@lupojpoodle can I ask you please how did you figure out the OTP generation when the code is obfuscated?

[2019-09-27 20:37] lupojpoodle commented on #87
My code only runs on MacOS and Windows at the moment, by leveraging AOSKit. Apple's clients call `retrieveOTPHeadersForDSID:` with a DSID of "-2" on their first login (since the client only knows the AppleID and password). That function returns a dictionary with the MID and one time password. You can use those to start the authentication process. Sending the client time and machine info in the `cp

[2019-09-28 10:09] misabear commented on #87
@lupojpoodle thanks for the explanation. Would you be able to advise me please on how to `leverage the AOSKit` in simple command-line tool on mac? I guess you managed to write a tool linking this private framework and running this local function which I'm not able to do.

[2019-09-28 15:33] RobLinux commented on #87
On windows you can load the exported function and just begin by using "AOSAccountCreate"

e.g. AOSAccountCreate(kCFAllocatorDefault, user, password, NULL)

[2019-09-28 16:17] RobLinux commented on #87
interesting, so it should be only a hash of the password and not "user:password" ?

Thanks for all those very precious information !

[2019-09-29 07:11] misabear commented on #87
@lupojpoodle I have done some debugging and believe the OTP is generated in `akd`:
` +[AKADIProxy requestOTPForDSID:outMID:outMIDSize:outOTP:outOTPSize:]:`

[2019-09-29 23:04] RobLinux commented on #87
So using InflatableDonkey SRP client you should have an option to be able to have instead of this

`        byte[] tmp = hash(digest, identity, COLON, password);`
   `      byte[] hash = hash(digest, salt, tmp);`

 `        return new BigInteger(1, hash);`

this for our current generation of X:

   `      byte[] hash = hash(digest, salt, password);`

 `        return new BigInteger(1, hash);`

bec

[2019-09-30 03:09] lupojpoodle commented on #87
The code does a digest update with a colon even if it's skipping the username, then another with the derived key. My code is all in C using crypto++, so I'm not exactly sure of what the equivalent calls are in BouncyCastle. I got most of this part by using lldb to get the results at each step and replicating them. Break on `ccsrp_generate_x()`.

Also, the OTP is regenerated on 30 second boundaries

[2019-10-01 06:20] yogendra123456 commented on #87
InflatableDonkey SRP client class sample example.
download ios 13 icloud backup using InflatableDonkey without using 2FA authentication.

[2019-10-01 09:03] Zuko888 commented on #87
Hi, i am looking to buy a complete solution as my tech skills are terrible, can any one help me get access to iOS13 iCloud backups...?

[2019-10-01 12:50] snak3y commented on #87
@lupojpoodle It's true that this won't be a portable solution until we can sort out the OTP generation. So far, I've gotten around this with a similar solution to yours. The Machine ID is based on several registry keys, but I don't know how they are combined yet. The OTP is tied to the MID in some way, as you can't use OTPs from one MID with another, even within the expiry window. I am guessing th

[2019-10-01 13:35] RobLinux commented on #87
The key are sent by the content server just before the full encrypted file. I have not yet found out how to use them, but it definitely send a couple of keys

[2019-10-01 13:38] RobLinux commented on #87
Are you serious ? It's a free and open source project here. We're sharing solutions and findings

[2019-10-02 08:04] RobLinux commented on #87
Wow, I finally got a m2 from the GSA servers 🎺 !!

Thanks to your advices on X generation it works. But for the derivation of the password I couldn't get it to work. I had to read the generated one from the step by step in x64dbg and extract the result from the memory.

What I tried so far was that : a PBDKF2-SHA256(password, i, salt). But it doesn't get the same output.

Any advices on what's wro

[2019-10-02 08:06] Zuko888 commented on #87
Yes unfortunately i am serious, am working on a project and need access to iCloud backups, been trying for months cant get access. if anyone does get it working please message me and ill pay generously for help to setup my own solution.

[2019-10-02 11:53] RobLinux commented on #87
Hum well it gets better and better. I couldn't decrypt the spd, but still got it from the memory too, and them you have that GsIdmsToken & the PET token, but I couldn't use the PET token over setup.icloud.com/setup/get_account_settings

I see in the proxy from an authentification process that it uses a basic auth with base64(dsprsID:token) but that token is not present in  the SPD plist, but maybe

[2019-10-02 12:36] snak3y commented on #87
@RobLinux For the password, I think you're close. Try putting the password through SHA256 separately before you run PBKDF2.  When decrypting SPD, what did you use there? I think the M2 response should have everything you need.

I believe that the PET token needs to go to /login_or_create_account instead, which will then return a response similar to the one from /get_account_settings. Instead of th

[2019-10-02 12:47] RobLinux commented on #87
You're the man! It definitely worked ! Same output. But for the SPD decryption the thing is I use the key generated by SRP protocol and verified by M2, and "np" for the IV, but it's 32 bytes long which is weird, so I tried using the first 16 bytes but no luck. Is it AES CBC?

Will give it a try, thank you so much

[2019-10-02 14:38] snak3y commented on #87
@RobLinux It is AES-CBC. It looks like there's several steps for deriving the IV - I haven't got this part working separately yet. I'm not even sure if the "np" value is needed there.

[2019-10-02 15:28] RobLinux commented on #87
I can't yet link it to NP value as well, I'm trying to track its use and see where's the IV creation, but it's hard as there's many many functions. Would you care to share your findings on another support, something that's more direct ? Like mail / discord / skype  maybe we could advance faster. My mail is on my profile

[2019-10-03 02:34] lupojpoodle commented on #87
The password gets hashed first (32 bytes, SHA256), then it derives the key - look at AppleIDAuthSupportPBKDF2SRP.

The "np" is the "negotiation protection" object that both sides build during the process - I've not seen a point where it needs to be checked. Hopefully, it can be ignored outside of a real Apple device login.

The salt and iv start as hardcoded strings in AppleIDAuthSupport, and are

[2019-10-03 13:01] snak3y commented on #87
@lupojpoodle That's what I've seen regarding "np" as well, seems like it can be ignored.

EDIT: I was able to decrypt the spd. You need the key, k from the SRP negotiation, as well at the hardcoded strings you've mentioned. It's not AES128, though.

No reason to take the discussion out of this thread. Others may be able to unblock pieces of it.

[2019-10-03 16:11] RobLinux commented on #87
Oh my god this is so exciting. I was so close ! At first I traced it to M2 but it was not MITM proof at all so I was going to try K and then I saw your answer. and now it perfectly works!!

Then there's an extra step to validate the 2FA code (grandslam/GsService2/validate) with "security-code" as header and the B64(adsid:GsIdmsToken) as "X-Apple-Identity-Token" header for that request

If all goes

[2019-10-03 17:33] snak3y commented on #87
@RobLinux Nice work! I didn't know about the /validate route.

Can you give any hints on the other headers you used for that request? I'm attaching the token and the security code as you've described, but no luck. Is "security-code" a header?

[2019-10-03 18:06] RobLinux commented on #87
@snak3y Yeah its a HTTP request header i.e "security-code: 012345", you have to put the usual, the anisette header and X-Apple-Identity-Token.

[2019-10-03 18:25] snak3y commented on #87
@RobLinux It would help if I used Get instead of Post :(

When making a request to /login_or_create_account, did you have to deal with the Nas-Qualify header? It seems like the usual headers aren't sufficient for me.

[2019-10-03 18:29] RobLinux commented on #87
I'm wrapping up everything and will get back to you asap

[2019-10-03 19:15] RobLinux commented on #87
Actually I'm looking at how to get a code, do you have any clue regarding that?

EDIT: I found the routes

[2019-10-03 19:29] snak3y commented on #87
@RobLinux Yeah, I've been using the IDMSA routes for that part. Assuming you mean 2FA, of course.

[2019-10-03 19:42] RobLinux commented on #87
there's a put to gsa.apple.com/auth/verify/trusteddevice/securitycode too

[2019-10-03 19:54] snak3y commented on #87
I'm finding I don't need that one. It seems to return the same PE-Token as the /validate route.

[2019-10-03 23:51] lupojpoodle commented on #87
Not sure if you've seen this transaction, but a real device gets the "URL bag" when akd starts up. The request goes to https://gsa.apple.com/grandslam/GsService2/lookup. There's another 2FA path for SMS that starts with the "secondaryAuth" URL. That lets you send the code to a non-Apple phone.

[2019-10-04 00:06] RobLinux commented on #87
EDIT: puting the correct user agent + mme client info solved everything

[2019-10-04 00:51] lupojpoodle commented on #87
The user agent changes for that UI - runs in a WebKit view. How are you capturing network traffic?

[2019-10-04 00:52] snak3y commented on #87
I found that the /validate path from earlier was working ok for me. I think /auth works as well, but I may have to try some of the routes from that lookup tomorrow.

I'm getting stuck with the Nas-Qualify header on login_or_create_account. It looks like you can get a cert from a url in that "url bag", which can then be used to get a session key of some kind via another url. Nas-Qualify is the data

[2019-10-04 04:12] yogendra123456 commented on #87
Hi All,

ios 13 icloud backup is not downloaded giving below error.
using **@horrorho inflatabledonkey**

Enter selection (multiple values accepted, leave blank to select all, q to quit):
: 1
Retrieving snapshot: 13 MB yogi’s iPhone (13.0) 2019-06-26T09:23:38.859Z

15:27:05.867 [main] �[31mWARN �[0;39m c.g.h.i.data.backup.KeyBagDecoder - -- from() - unknown VERS: TagLengthValue{tag=VERS, value=0x0

[2019-10-04 12:41] snak3y commented on #87
@yogendra123456 This kind of thing isn't really helpful - we're all working to understand the different pieces. Everyone is aware that 11+ isn't working. Instead, it would be great if you could read through what we've been doing and try to contribute towards it.

[2019-10-04 12:49] RobLinux commented on #87
@snak3y
Did you manage to call it ? I've now received the Graal "mmeAuthToken" and "cloudKitToken" !

@lupojpoodle
I patched iCloud for windows to be able to capture its traffic

[2019-10-04 12:56] snak3y commented on #87
@RobLinux I was unable to call it. Did you end up needing the Nas-Qualify? It seems like a pretty involved process to sign that post data. I used the regular headers, along with the username:PET "Authorization" header, but I keep getting 500 responses. Awesome work!

[2019-10-04 13:33] RobLinux commented on #87
I did not need the Nas-qualify. But i'm not logging in as iPhone but as iCloud For Windows, which is different headers. I've just jailbroken my device, added killswitch2 and checked out the 2FA logging. It seems that the nasqualify has some binary data + plist + binary data. I've tried in the past to understand it but not as of now.

Do you need those headers ?

But the mmeAuthToken I'm recieving

[2019-10-04 13:37] misabear commented on #87
@RobLinux I have never tried the `/validate` or `/login_or_create_account route` but I have used post call to `https://setup.icloud.com/setup/authenticate/$APPLE_ID$` with `BasicAuth(adsId, gsIdMsPetToken)` to retrieve useful tokens (e.g. `MmeAuthToken`).

Also, didn't need the `Nas-qualify` header.

[2019-10-04 13:42] snak3y commented on #87
@RobLinux That's too bad about the tokens. It seems like it would be much simpler to login as iCloud.

@misabear That could change things. I'll give it a shot.

[2019-10-04 13:46] misabear commented on #87
@snak3y you will need the usual headers together with the `X-Apple-I-MD`, `X-Apple-I-MD-M`, `X-Apple-I-MD-RINFO`, `X-MMe-Client-Info` and `X-Mme-Device-Id`

[2019-10-04 13:49] RobLinux commented on #87
And with that you can get iOS 11+ backups ? On my part I tried to login with that token on elcomsoft but it refused, but I have a doubt it knows how to handle them perfect (with anisette data)

@misabear `X-Apple-I-MD-RINFO` is really necessary ? I found out it was not

[2019-10-04 13:55] misabear commented on #87
@RobLinux sorry, not sure since I have never designed my solution to get backups, only to handle authentication (2fa/2sv) to get account information. I will test over the weekend.

It isn't probably necessary. I just used whatever value I collected (in my case `33687040`)

[2019-10-04 13:56] snak3y commented on #87
Interesting, regarding the RINFO. In all the examples I've seen, the value remains unchanged. But it is different than the one you're using.

[2019-10-04 14:14] misabear commented on #87
Does anybody has network logs from iOS device/Setup.app for iCloud backup restore?
These logs would help us a lot.

[2019-10-04 14:18] misabear commented on #87
If the logs are not available I think we should try to acquire them with the help of new bootrom exploit. This exploit allows us to restore custom ipws with patched/problematic ssl pinning etc. (that's at least my plan to do)

@RobLinux can you please share with us how did you patch iCloud for windows to be able to capture its traffic?

[2019-10-04 14:25] RobLinux commented on #87
Yes, I can share the DLL. Send me a mail to persitentlibrary@gmail.com and I'll it to you

[2019-10-04 15:01] misabear commented on #87
Thanks, misapolarbear@gmail.com

[2019-10-04 15:02] snak3y commented on #87
@RobLinux @misabear I don't think that's sufficient to get backups. The mmeAuthToken returned from /authenticate is enough to get a cloudKitToken, but not enough to download any data.

[2019-10-04 23:09] RobLinux commented on #87
That's an excellent attack. problem is that the restore is performed before you have a chance to put a proxy on, jailbreak, or anything. So we don't have any access. Even pairing the device to a computer will be hard

[2019-10-05 01:33] Aliasr commented on #87
I'm not sure if this still works but someone mentioned in this old thread a way of capturing traffic without jailbreaking: https://github.com/hackappcom/iloot/issues/62#issuecomment-151188555

[2019-10-05 05:56] RobLinux commented on #87
@Aliasr that’s a very interesting attack as well. But the problem is that most probably they added some pinning to the process (well maybe not but I highly doubt they didn’t) so we will probably not be able to connect to iCloud without disabling that pinning trough jail breaking (using killswitch2).

Does anyone has extracted a binary where ´X-apple-Nas-qualify’ gets generated ?

@snak3y have you

[2019-10-05 08:30] misabear commented on #87
I don't think the iCloud backup restore is done before connecting to Wifi. I have actually done something similar before. When you set-up a new device you need to connect it to internet for activation. You can choose wifi and configure proxy, then you have option to choose the restore from iTunes/iCloud backup option. In our case we would want to attempt to restore from iCloud backup.

This all ob

[2019-10-05 09:00] snak3y commented on #87
@RobLinux Nope. To go through login or create account as the device, you definitely need the Nas-Qualify. This is used to sign the json payloads with some information about your device. Apple refers to this as "Absinthe", but that's all I know so far.

[2019-10-05 09:18] RobLinux commented on #87
What headers (user agent and mme client) do you use for gsa routes, and then for setup.iCloud

[2019-10-05 09:44] misabear commented on #87
@RobLinux haven't received the file. Have you sent it yet please?

I will also try to look into the `X-apple-Nas-qualify` header

[2019-10-07 08:25] RobLinux commented on #87
Yes I have sent it to you!

look at this log btw : **https://gist.github.com/dickie1/a44c686d6539e5fe6ed05c5b957c6903** and search for **absinth**

in fact searching https://www.google.com/search?q=identityservicesd+absinthe gives more info

**EDIT** I tried the solution with Apple Configurator. It doesn't work, there's pinning everywher. I tried jailbreaking the device, configure WFi, enable Kill

[2019-10-07 13:20] snak3y commented on #87
@RobLinux Just the usual headers, in addition to Nas-Qualify.

[2019-10-10 12:55] snak3y commented on #87
@RobLinux I've been looking at other aspects of this. Using the dlls to generate Anisette is good enough to proceed, for now, using the existing authentication workflow. This actually allows you to get backups for iOS 11 & 12 with no issue.

Upgrading to 13, however, causes some issues. In particular, records and chunkInfos no longer seem to have encryption keys/chunk encryption keys returned with

[2019-10-11 19:47] misabear commented on #87
@RobLinux btw I have just successfully tested what @snak3y said about being able to access the iOS 11&12 backups with the knowledge shared in this conversation.

the iOS 13 backups are also broken for me.

[2019-10-11 20:07] snak3y commented on #87
@misabear @RobLinux Still stuck as far as 13 goes. I suppose it's possible that the chunk encryption keys are not returned unless you've authed through GSA, but I can't confirm this.

So far, the main differences appear to be that records do not contain encryption keys in their encrypted attributed (though they do have key encryption keys) and that chunk info is missing it's chunk encryption key.

[2019-10-11 20:46] lupojpoodle commented on #87
@RobLinux Did you figure out how to generate Nas-Qualify header? Or are you using a captured one?

[2019-10-13 08:44] RobLinux commented on #87
There are keys for iOS 13. You just missed them I think. They are sent by the content server (com.apple.icloud.content), as an content asset (in the chunk list) right before the full file. Look at how many chunks you have per asset, and you'll see some very small chunks. Those are the keys. I have not figured out how to use them yet.

The encrypted attributes didn't change.

The class protection 4

[2019-10-13 08:49] RobLinux commented on #87
I have not needed it.

[2019-10-13 16:56] snak3y commented on #87
@RobLinux Very interesting. I'll take a look for those keys and let you know if I get it working. Thanks!

[2019-10-13 17:56] RobLinux commented on #87
![image](https://user-images.githubusercontent.com/32842060/66719694-78bd0480-edf3-11e9-952f-cd70a1d6c252.png)

I'm using those headers but I keep getting "iOS version black listed for this container". Clearly iCloud for Windows login doesn't work. so how do you get to that point without the Nas-Qualify which is required when using iOS login?

[2019-10-13 19:05] cyanBone opened #103 "icloud Ask questions"
Hello:

X-Apple-I-MD-M:
X-Apple-I-MD-RINFO:
X-Apple-I-MD:

How are these things obtained?

Mac os icloud

[2019-10-13 22:31] snak3y commented on #87
@RobLinux That seems ok, asides from your client info. I used get_account_settings, like you have, but I have an iOS client info.

[2019-10-15 00:06] RobLinux commented on #87
@snak3y  Thanks.

It now works using the full login workflow, and I can list backups. However I'm back to "Record not found" 😢 😞

![image](https://user-images.githubusercontent.com/32842060/66790480-29103300-eef0-11e9-825e-b6633da20b04.png)

My request (protobuf) looks like this

[code]

[2019-10-15 07:10] misabear commented on #87
@RobLinux Not sure if it helps but see below my raw req:-

[code]

[2019-10-15 07:17] RobLinux commented on #87
That’s to get the backup account, it works just fine for me too. Then i can list the devices,  and i can list the snapshots per devices. The problem appears when I try to get a manifest from a snapshot

[2019-10-15 07:37] misabear commented on #87
@RobLinux alright, so for the manifest retrieval a raw req would be something like this:-

[code]

[2019-10-15 12:37] RobLinux commented on #103
by the magic of R&D. Do you even search if your question has been asked in other threads ?

[2019-10-15 14:13] cyanBone commented on #103
X-MMe-Nas-Session
 How are these things obtained? Mac os icloud
@RobLinux

[2019-10-15 14:17] RobLinux commented on #103
🤷

[2019-10-15 14:38] cyanBone commented on #103
thinks

[2019-10-15 14:39] cyanBone commented on #103
thanks

[2019-10-15 14:39] #103 closed, assigned to nobody

[2019-10-15 14:39] snak3y commented on #87
@RobLinux The above looks like what I have as well, so that should be ok. I see the smaller chunks coming back as well, just trying to figure out how to use them.

[2019-10-15 16:22] RobLinux commented on #87
@snak3y I have finally managed to get the manifests and files for iOS 12 and 13 (but no decryption :( ). So we are at the same level. If you see those chunks are of 112 bytes (somehow). For bigger files you’ll have several chunks of 112 bytes (compiled in one big if I’m not mistaken). Interestingly it always start with 0x04, which is something apple like to use for key packages (0x0v, v being the

[2019-10-15 16:57] RobLinux commented on #87
Another question is that in iOS 13 backup files, the encrypted attribute severely changed (not its encryption). There's no references anymore about what keybag to use. However in the account there's a "currentKeybagUUID" or something like that (i'm in the train so can't verify) but from my previous tests some weeks ago I think it was not the correct one.

Maybe the key unwrapping should be tested

[2019-10-15 18:34] snak3y commented on #87
@RobLinux Makes sense, I think.

I agree that the chunk is some sort of key package or structure, but it's not the same as the typical keybag. The chunks do not scale in increments of 112, which makes me think 112 is enough to hold the keybag structure and a single key. For example, 3 chunks require this structure to be 197, so not 3x112, but enough to contain more keys.

I've tried unwrapping thi

[2019-10-18 11:27] RobLinux commented on #87
Hey guys,

I have found out some exciting news about the I-MD + I-MD-M generation.

When you've got iCloud For Windows and you launched it once, in "C:\ProgramData\Apple Computer\iTunes\adi\" you've got 2 pb files. Those files are generated by CoreADI.dll and they allow I-MD + I-MD-M header generation because if you delete them, calling the method will give you empty results.

Now when you delete

[2019-10-18 12:36] snak3y commented on #87
@RobLinux Awesome find! Looks like it could be replicated for sure.

As for the iOS 13 stuff, I'm still stuck with those 112 chunks. I am quite certain they are encrypted, but I haven't figured out how to unwrap them, as none of the keys I have seem to work. A couple of interesting notes - first, the chunks all start with 0x04 like you mentioned, and the length is similar enough to a KeyBlob that

[2019-10-18 12:45] RobLinux commented on #87
Another note, the 112 are always the same. So if it's encrypted it's using the standard Protection zone scheme probably (encrytped attributes never changes for instance between connection / CloudKitAuhToken)

[2019-10-18 13:34] snak3y commented on #87
@RobLinux That's interesting, as that's not what I'm seeing. I see the size of that chunk grow with the number of chunks in the asset itself. 112 for an asset with a single chunk, but 197 for an asset with three chunks, for example.

[2019-10-18 13:40] RobLinux commented on #87
No I mean for the same asset!

[2019-10-18 13:55] snak3y commented on #87
@RobLinux Ah, I see what you mean. Yes, per asset that chunk doesn't change. I've been unsuccessful in using the standard protection zone to unwrap it though.

EDIT: Continuing on this tangent, I'm wondering if the ProtectionInfo from the Asset can be used to unwrap these new chunks. The 0x04 on the chunks looks like it indicates a new version in GCMDataA. So either it can be unwrapped using the s

[2019-10-18 20:40] lupojpoodle commented on #87
Starting somewhere around iOS 11, the assets could encrypted in ranges, with multiple wrapped keys in in the file record's "encryptedAttributes". Format was <wrappedkey 108 bytes><range 8 bytes>, repeated for each key. Sounds like this may be a similar scheme. At the time, I thought it might be to allow parallelized decryption of sections of large files.

[2019-10-21 12:13] ymohammad commented on #102
Hi @tapanshah1 , I tried downloading backup for non 2fa account as well. It is not working for iOS 12 backup. Did anyone try for non 2fA account backup download?

[2019-10-21 15:40] snak3y commented on #87
@lupojpoodle It does sound similar. Here's the length of the "key chunks" for various asset lengths, where the asset length is in chunks.

1 -> 112
2 -> 155
3 -> 197
4 -> 234
5 -> 272
6 -> 309
7 -> 346
8 -> 383
16-> 679
48-> 1863

[2019-10-21 16:11] RobLinux commented on #87
Quick update, I am now able to reproduce the routes to gsa/startMachineProvisioning + gsa/finishMachineProvisioning using iCloud_main.dll calls (it is obfuscated code) to generate the .pb files.

This allows fully impersonating an iPhone from the GSA connection process and get the backups with a proper I-MD and I-MD-M

Moreover I can assure that the device ID is a pure UUID and is not needed to be

[2019-10-21 17:08] snak3y commented on #87
@RobLinux Nice work!

I do something similar. My solution isn't exactly portable, but it works well enough for now. Unfortunately, I have nothing new to share regarding the backup chunks/keys. Running out of ideas on this part, but I'm going to keep at it for a bit longer.

[2019-10-21 21:53] RobLinux commented on #87
Oh so you work with startProvisioning too? And on MacOSx you’ve got pb files for anisette generation?

[2019-10-22 09:28] snak3y commented on #87
@RobLinux Not quite, no. I don't actually use the routes at all. My solution won't work on Mac though, not yet anyway. I imagine I'll have to change it to use those new GSA routes you've found at some point, but I wanted to tackle the encryption stuff first.

[2019-11-13 01:20] Aliasr commented on #87
Hi guys @RobLinux @snak3y @lupojpoodle. Are there any updates about iOS 13 backups? Are you planning to make public the projects you discussed above?

Hi @Horroroho, we know that you are not actively woking on InflatableDonkey anymore, but is there any chance you could make it work again with iOS 13 as you did a year ago with iOS 12?

Thanks!

[2019-11-13 22:11] snak3y commented on #87
@Aliasr Unfortunately I was unable to get any further with it at this time. I still don't know how to decrypt the asset chunks, and I'm not sure as to the structure of the "key" chunks.

My solution isn't really in a state where it can be published, and its not portable at all. iOS 11/12 aren't really special once you have Anisette.

[2019-11-20 01:44] nicolas17 commented on #87
@lupojpoodle This started with the introduction of APFS. When a file is cloned with copy-on-write (new APFS feature), both files share the same data on storage and the same encryption keys. When data is added to one of the files, the new data is encrypted with a *new* key, so you end up with the same file having different segments with different keys.

This is explained in the [security guide](htt

[2019-11-20 04:05] lupojpoodle commented on #87
@nicolas17 That makes sense - so it's possible that all that changed is the key storage format. The old way had redundant data across the keys, and the new key blobs are variable length and smaller.

I've been working on getting on device USB debugging going for system processes with the checkra1n jailbreak, with the intention of returning to the crypto changes once I have better tools on actual i

[2019-11-21 13:27] lilili87222 commented on #87
I wonder how to proxy gsa.apple.com, i proxy fail to descript with fiddler or charles ,can you tell me ?.

[2019-11-25 08:08] RobLinux commented on #87
That's very interesting. This iOS Security guide has always contained the solution somewhere regarding iCloud new things, and I do think this graph holds it :
![image](https://user-images.githubusercontent.com/32842060/69522968-f895cd00-0f62-11ea-9fce-f33fd13fbe1f.png)

I think we have many info to work with. Thanks!

[2019-11-29 11:46] RobLinux commented on #87
Well well. Some updates on my research. Regarding what you said @snak3y about the GCMDataA, I may have an interesting lead.

Let's take the Java code :
![image](https://user-images.githubusercontent.com/32842060/69863561-73c9ec80-129d-11ea-9650-6b5cf710e6a3.png)

I was able to find into PCS.dll of the latest iCloud For Windows the corresponding code:
![image](https://user-images.githubusercontent.

[2019-11-29 16:00] RobLinux commented on #87
EDIT: I tried to use the GCMDataA with no optional data, a header size length of 1 and the decryption key of the record to decrypt that data we receive but it gave me an unreadable data, I'm still sharing it here if it rings a bell :

`7C 8A 8A 65 E5 E8 70 85 B9 E3 17 87 4A CD 37 21 2E 70 24 9C 70 F4 F8 B6 E1 68 F0 D9 0B E7 6E AE 72 43 89 59 92 A1 92 2A 88 04 68 FE 5A A9 A1 7C 84 F5 74 53 39 41 A3

[2019-11-29 16:07] snak3y commented on #87
@RobLinux Very interesting, nice find! I'll have to go back and look at what I was doing with the GCM stuff - I remember not being able to decode with ASN.1 as well.

From what I was last doing, it felt like there was still a key missing that would be needed to decrypt it.

[2019-12-03 09:24] wxq491216 commented on #87
@RobLinux did you got the generation algorithm of X-Apple-I-MD? [ReProvision](https://github.com/Matchstic/ReProvision) get it by invoke function of AuthKit, but this way is not what I want.

[2019-12-03 09:39] RobLinux commented on #87
I have most of it covered as I stated in my previous posts.

[2019-12-03 10:05] wxq491216 commented on #87
Can you explain the generation algorithm in general? I debug it already a few days.

[2019-12-03 21:33] RobLinux commented on #87
Some news. I checked the binaries on macOS. it seems the header is now 4 bytes and you need to check on the 5th byte to get the header size. However there's a catch, it doesn't work with the data I have.

![image](https://user-images.githubusercontent.com/32842060/70091528-93a23d00-161c-11ea-9cd8-dc5c1b013be2.png)

Here is the dump in case it helps:
https://pastebin.com/aDKx7Ccj

I start to believ

[2019-12-04 10:40] RobLinux commented on #87
I think I found something :
![image](https://user-images.githubusercontent.com/32842060/70135723-e7e40600-168a-11ea-8093-b3ef26f74bbc.png)

Source :
https://conference.hitb.org/hitbsecconf2018dxb/materials/D1T2%20-%20Cloudy%20With%20a%20Chance%20of%20Messages%20-%20Extracting%20Messages%20from%20iCloud%20-%20Vladimir%20Katalov.pdf

[2019-12-04 13:56] snak3y commented on #87
@RobLinux That is _very_ interesting...looks more or less like the data I've seen. Awesome find.

I'll try to spend some time looking at this soon.

[2019-12-04 14:43] RobLinux commented on #87
Ok so I think I got it.

When you ask the file, you get this content token from CK DB client :
![image](https://user-images.githubusercontent.com/32842060/70151136-736d8f00-16ab-11ea-951e-c689ad8cf09a.png)

Then you used to unwrap he "protectionInfo" field with the zone in order to get the unwrapped key to derivate each chunks content key.

I think this unwrapped key maybe the one used to create t

[2019-12-04 16:13] RobLinux commented on #87
Ok. I have now 99,99% confirmation it was not a GCMDataA. Why ? Because looking at the macOS binaries you can see that the 5th byte correspond to the buffer size, and taking only 2 chunk of 112 bytes (lets call them ford chunk from now on) you get values as "8E" and "BB" which is beyond 112 bytes.

Now, looking at this conference, I can tell you we're dealing with ford chunks. I found out the 0x04

[2019-12-04 19:16] misabear commented on #87
Thanks for all the useful info. Are the macOS binaries from Catalina or Mojave?

[2019-12-04 19:48] RobLinux commented on #87
@misabear So the code I extracted comes from iOS 13 (ford chunk decryption), but there’s one function I extracted that is from macOS Catalina (the Gcmdataa version 4)

[2019-12-04 23:13] RobLinux commented on #87
Looking at https://github.com/apple/darwin-xnu/blob/master/EXTERNAL_HEADERS/corecrypto/ccmode_siv.h I think I got the functions calls wrong, here is the updated code. However from what I understand I'm missing the associated data, still unsure what to provide.

![image](https://user-images.githubusercontent.com/32842060/70189258-22818900-16f3-11ea-8a8e-386e023ba12d.png)

[2019-12-05 00:44] lilili87222 commented on #87
Is this document relative about this issue?
https://developer.apple.com/business/documentation/MDM-Protocol-Reference.pdf

[2019-12-05 00:47] RobLinux commented on #87
MDM is to deploy policies over several devices.

[2019-12-05 01:11] RobLinux commented on #87
WELL I'M ON FIRE

![image](https://user-images.githubusercontent.com/32842060/70194959-819bc980-1704-11ea-9718-0c42d747083d.png)

Finally found some trace of the chunk ford in the Apple library :) and it seems the AD is NULL so fuck yeah

[2019-12-05 01:46] marksims commented on #87
have you fixed it? i see you can get a bounty if you fixed it. https://www.bountysource.com/issues/76113649-ios-13-support

[2019-12-05 08:31] misabear commented on #87
well done! For anyone interested the last snipped is from `_mmcs_get_container_process_data`. @RobLinux btw. how is your experience with IDA. I have only Hopper and whole cache is impossible to load, and single framework load will not fix the symbols/calls to other frameworks.

[2019-12-05 11:19] RobLinux commented on #87
Hey, I'm getting pretty good with IDA. It supports very well the dyld cache even if it takes huge amount of times to extract the dependencies (~30m). But this peculiar MMCS library is coming from macOS Catalina as I can have better generated code than from iOS.

Hopper generates some worse code full of jumps and labels as I could see.

My next step is to jailbreak an iOS 13 device and get some rea

[2019-12-05 13:06] misabear commented on #87
yes, I can see IDA would be better based on your snippets. Loading the mmcs with dependencies in IDA has been already taking me few hours and still not finished. Any ideas what I'm doing wrong?

definitely I agree, I was pretty confused by Hopper's results until I seen yours :-)

yes, do that. It is definitely useful - I actually started with that a while ago

[2019-12-05 15:07] RobLinux commented on #87
Come over skype :)

[2019-12-05 15:21] misabear commented on #87
will do after work :-) btw. I have managed to decrypt the ford_chunk using the method described in the doc.

[2019-12-07 08:54] misabear commented on #87
Some details on how I managed to decrypt a ford_chunk based on the information above. Hope it will be useful.

<img width="1208" alt="ford_chunk_decryption" src="https://user-images.githubusercontent.com/43433918/70371751-1520f600-18cf-11ea-8e9b-dc124a913bec.png">

Great job from @RobLinux and great research/presentation from Elcomsoft.

[2019-12-09 02:56] misabear commented on #87
@RobLinux minor change to your code
blockSize = pSIVMode->cbc->block_size (16bytes)

that will help to create buffer for decrypted text of the right size

[2019-12-09 07:32] RobLinux commented on #87
Thanks and good job!! It seems that my python libraries I used for key derivation / AES SIV decryption are not working properly. I'll have to give libcorecrypt a try.

Now looking at your results for the ford chunk, protoc gives this :
![Screenshot_2019-12-09_08-26-58](https://user-images.githubusercontent.com/32842060/70416112-8f33b500-1a5e-11ea-8ec1-2351d33e781d.png)

Now that key `0466e48394efa

[2019-12-09 16:01] RobLinux commented on #87
edit: I finally managed to get that miscreant library to decrypt the data by inverting the associated data and the nonce.... seems utterly logic

[2019-12-11 16:36] snak3y commented on #87
@RobLinux I'm getting stuck with the miscreant library as well - "ciphertext verification failure".

I unwrapped the protectioninfo as you described and then used that as the key for HKDF, along with the information @misabear provided on the other parameters. I get the feeling that my unwrapped key is not the right thing

[2019-12-11 20:32] RobLinux commented on #87
snak3y, do you want to catch on Skype ?
We are being very productive with @misabear!

I got the miscreant library to work.

https://pastebin.com/i3qvqzdu here is my test code with some data, it works to some extent.

[2019-12-12 13:23] snak3y commented on #87
@RobLinux You guys are killing it right now! I may join in once I'm caught up a little more on what you've been doing. My IDA skills aren't great so I'm trying to follow along for now.

Thanks for the info! I'll post here with any progress I make.

[2019-12-12 13:54] RobLinux commented on #87
@snak3y maybe we can speed train you in an hour.

Did you manage to make my python script work ?

[2019-12-12 14:28] snak3y commented on #87
@RobLinux I got it mostly working I think - I needed to make some changes with the unwrapping key and then it all seemed to work. I was going to take a stab at using the Ford key to actually decrypt the data chunks next.

Do you think it's possible that support needs to be added here: https://github.com/horrorho/InflatableDonkey/blob/5312be05554272f492d843da0150a4362ee336aa/src/main/java/com/githu

[2019-12-12 15:15] RobLinux commented on #87
well maybe

But I tried to unwrap the key using RFC3394 using the 32 bytes and the unwrapped key from protection info and the read key, but it doesn't work neither make sense.

[2019-12-12 15:18] RobLinux commented on #87
@snak3y

I thought about that but it doesn't work, and I don't see such thing in the iOS binaries. The data is used as it is read from the protobuf

You should accept that speed train ;-)

[2019-12-13 15:38] snak3y commented on #87
I tried a couple of things like that as well, but no luck yet. Seems odd to me that the unwrapped Ford keys would also start with 04 - I don't like that.

[2019-12-13 15:42] RobLinux commented on #87
Well we've uncovered a lot of new things that could not be covered in a single post (especially in ChunkingLibrary), feel free to share what you found out or to join us

[2019-12-13 15:45] misabear commented on #87
@RobLinux :-)

[2019-12-13 19:22] snak3y commented on #87
I'm not sure I fully understand what I'm seeing, but I'm thinking that the chunkChecksum that comes back on the Ford chunk isn't actually the checksum at all. It instead appears to be the header 0C0F01 + FileChecksum + FileSignature from the ChunkReferences.

This of course, could just be the mechanism used for matching up Ford chunks to assets. But in the case of an asset with multiple chunks, I

[2019-12-15 22:07] anonymouz4 commented on #38
@michaljirman
Apple calls it `AnisetteData` and is used to identify the hardware

It usually consists of 4 parts
- Machine ID
- Randomly generated string
- LocalUser UUID as sha256 string
- some routing Info string

[2019-12-16 10:02] RobLinux commented on #87
Hey,

Are you talking about authorize get variables ? if so I agree, but we're now trying to use the data within the fordchunk. And there the checksum doesn't apply anymore, that's why we do think it's rather a file signature than a checksum

ford_info {
  enc_data {
    ford_key: "\004\206\016\243\203\236\226F,V\323x\023\271V\206\260yC\336:\312\370\207k_\317AH\006\317\373\233"
    chunk_len: "\36

[2019-12-16 13:18] snak3y commented on #87
Sorry, to be clear, I'm also trying to use the data within the Ford chunk.

First, I wanted to prove that the Ford + data chunks were linked as suggested in the Elcomsoft PDF (to see if there was other information we were missing). That PDF sort of suggests that you need to use the checksum within the decrypted Ford chunk, but that's not the case I don't think. As you said, its the "checksums" fro

[2019-12-16 22:49] RobLinux commented on #87
Yeah perfectly said! Especially in the binaries you can see that the ford data is being put into "signature" variables / methods. So either the data is outdated or they try to hide it a bit :P

now I'm trying to understand that method that is used with the ford data :
![image](https://user-images.githubusercontent.com/32842060/70949672-afff9a00-205e-11ea-9e75-50a9161fecea.png)

but the last two ar

[2019-12-17 16:29] snak3y commented on #87
@RobLinux Interesting.

From what I can tell, that function is some kind of "decoder factory", right? Reminds me a bit of how the Miscreant library works (creating a "decoder" from the key). Were you able to find any insight into the other parameters? (ie, is the key parameter passed directly from the Ford key, or is it transformed first?)

I wonder if the a6/a7 parameters are things like the "ver

[2019-12-17 17:20] RobLinux commented on #87
no because the sub methods use the first byte of the signature and the key as the scheme (it's how it's called in the Apple's code)

[2019-12-18 17:50] snak3y commented on #87
I've been digging into this method as well...not sure I understand it enough to comment intelligently yet, so forgive me here. Mine also looks a bit different than yours, fewer arguments and few sub calls as well. Did you get ChunkingLibrary from iCloud for Windows?

[2019-12-18 23:25] RobLinux commented on #87
Well no my method comes from macOS catalina, which is very close to iOS 13 implementation. The chunking library from iCloud for Windows is good for comparison but it's very simple as the protocol changed quite a lot between iOS 12/13 for the backup system. They could do it because you would never restore an iOS 13 backup over an iOS 12 device, so the encryption can change. However with photos (tha

[2019-12-19 14:18] snak3y commented on #87
How do I join? I have some time tomorrow and early next week I could dedicate to this.

Thanks for providing the files, I will try to have a look at them ahead of time.

Edit: @RobLinux Poking around in there, I also checked out the PCS binary.
- For Ford data decryption, the PCS binary uses the AES-SIV algorithm (as you know).
- There are a couple of other functions that decrypt data, but all of

[2019-12-20 08:22] RobLinux commented on #87
PCSFPCopyDecryptedData is used in CreateWithExportedInternal which is used in many other PCS* methods.

Most probably the ford data is used like you say.

As for synchronizing with us, send me a mail to persitentlibrary@gmail.com with your Skype :)

[2019-12-20 08:55] RobLinux commented on #87
@snak3y did you send me an email ?

[2019-12-20 16:27] snak3y commented on #87
Pretty sure that PCSFP method is used for ProtectionZone stuff only. Time to move on to looking at something else.

[2019-12-23 08:44] lisaikeha commented on #87
@RobLinux  @snak3y
Have you ever met this problem? It was ok if set the clientInfo to iOS9.3.5, buf it fails if I set the clientInfo to iOS11.4.1
screenshot:
![fd2](https://user-images.githubusercontent.com/1912584/71346687-673a6a80-25a3-11ea-9dd7-60406a1975cc.jpg)

[2019-12-23 08:50] RobLinux commented on #87
probably the headers in the past communication.

[2019-12-23 08:51] RobLinux commented on #87
Hey, yeah that's for sure :) Was it you that sent me an email (being paranoid here as many tried to add me and were not you hah)

[2019-12-23 09:27] lisaikeha commented on #87
@RobLinux no, I set the same clientInfo to all requests.
I was passing "username:PET" to the Basic Authentication Header of /setup/get_accout_settings, did I do the same thing with you ?

[2019-12-23 10:25] RobLinux commented on #87
just follow up the conversation, everything is explained here

[2019-12-23 12:58] snak3y commented on #87
@RobLinux Yes, that's me. (Snak3y XO, that is). Don't have a lot of time with the holidays, but will try to work on this when I can.

Last thing I was looking at was those CSCryptor methods, which looked pretty interesting. Following from the method you were looking at, seems like you can only have V1 or V2 init methods. But the CSCryptor (it's V2, I think) looked like it was pulling fields out at

[2019-12-23 13:05] RobLinux commented on #87
I added you, I have something to show you if you get time.

[2019-12-24 11:19] RobLinux commented on #87
https://patentimages.storage.googleapis.com/3f/8a/d2/f8a31d6cb8f7ca/US8255731.pdf some lecture about backup engine

[2019-12-27 09:53] lilili87222 commented on #87
https://github.com/lvchangye/iOS-Header/blob/master/akd/AKADIProxy.h
https://github.com/lvchangye/iOS-Header/blob/master/akd/AKClientAnisetteService.h

[2019-12-27 19:56] RobLinux commented on #87
yes I already reverse engineered those binaries but are heavily encrypted. By the way we're onto something else than Anisette data having sorted that out.

[2019-12-28 06:18] lisaikeha commented on #87
@RobLinux Hi, I have solved the problem I post previously, it's the Authorization Header issue in escrowproxyapis.
right now, I am facing another problem:
I can't use the mmeAuthToken get from "get_account_settings" in the flowing workflow like  "/setup/ck/v1/ckAppInit" if I set clientInfo higher than iOS 11.2, it always fails with  HTTP 401 status code.  But when I set the clientInfo below than i

[2019-12-29 11:44] RobLinux commented on #87
As I said I’m working on the decryption right now :)

[2020-01-02 13:22] snak3y commented on #87
@RobLinux Sorry, had much less time than I thought over the holidays. I can spend some time later today on the decryption again. And I'll read that link you posted, thanks for sharing.

[2020-01-02 23:28] Dadoum commented on #87
@lisaikeha
Do you have any email where we will be able to search ? I'm trying to create code snippet that permit to get M2 and token.

[2020-01-03 03:37] RobLinux commented on #87
Hello @Dadoum, sorry I have not been able to answer you as I'm on holidays for now.
Regarding the M2 and the token there's only way for now I have been able to do it is to load the iCloud for windows DLLs and use some methods within it directly. Code extraction could be possible but the code is very obfuscated so it's very tough, I stopped after trying for a week.

[2020-01-15 13:29] RobLinux commented on #87
@Dadoum wrote you back

[2020-01-16 23:18] RobLinux commented on #87
They finally updated their security guide

https://support.apple.com/guide/security/cloudkit-sec3d52c0374/1/web/1 XTS is used

[2020-01-17 13:59] snak3y commented on #87
@RobLinux Very interesting. I haven't had much time to work on this but will take a look. Thanks for sharing!

[2020-01-21 15:44] ArnoldCell commented on #87
hey guys are you still on it?
maybe we can join forces

[2020-01-21 18:20] snak3y commented on #87
@ArnoldCell When I have time, yes. I haven't got a device at the moment and we were at the point where one was needed to continue investigating. Not sure where the others are at right now... @RobLinux ?

[2020-01-23 16:32] RobLinux commented on #87
Hey guys. Long time. I'm working full steam on it.

These days I'm working on iOS Debugging. I've been able to jailbreak an iOS 13.3 device, run lldb-server on it and attach IDA. I can put break points in ChunkingLibrary and see everything in clear. I'm focusing on CKChunkCoder calls, i.e CKChunkCoderCreate, CKChunkCoderUpdate and CKChunkCoderFinish.

I then start a backup on my device.

When putt

[2020-01-24 22:40] RobLinux commented on #87
I have a working piece of code with macOS methods. More to come very soon

[2020-01-26 12:43] snak3y commented on #87
@RobLinux Looks like you're very close, amazing work. I really hope its not related to the device specifically, as that would be a headache.

I was unable to get an iPhone so I can't really debug as you're doing. If you've got it working with the macOS methods, I can likely help with translating them back into code if you need.

[2020-01-27 09:16] mihalyrendes commented on #100
Hi,

Could anyone manage to solve the iOS13 related issues? At the moment I am getting the following errors when trying to use the project combined with 2 factor authentication :
17:06:30.707 [main] WARN  c.g.h.i.data.backup.ManifestIDIndex - -- parse() - unexpected format:
17:06:30.711 [main] WARN  c.g.h.i.cloud.clients.AssetsClient - -- manifestIDRecord() - no manifest id found:

Any help on thi

[2020-02-07 17:04] bitterdev opened #105 "Question"
Hey im currently developing a library for php to access iCloud. Anything is working fine (login, logout, 2fa, calendar, contacts and all other “core icloud services“). But what is missing is ability to download iCloud backups. I have seen that you had previously build a working solution based on java. Are the requests still compatible with iOS13 backups? If not you have any useful resources for me

[2020-03-01 20:41] tech234a commented on #87
Hi! I'm not sure if this is useful, but I came across this code which appears to process machine provisioning code, though I'm not sure if it actually decrypts the data: https://github.com/gergul/xhASOios/blob/master/xhwork/viewpage.cpp#L3955 and https://github.com/gergul/xhASOios/blob/master/xhwork/viewpage.cpp#L4177. To confirm, this information (once decrypted), along with `DSID` and system tim

[2020-03-14 12:55] Dadoum commented on #87
It calls Apple libraries like their implementation.
But I succeed to get [this](https://drive.google.com/open?id=1C4kChVscm_5IyHbq04Zn1m_M29d-jQkz) .
I got them from Apple Music for Android. It have ARM64 and ARMv7 implementation for Anisette, and it seems to be human readable (or maybe not I do not know C a lot).

[2020-03-18 06:11] tapanshah1 opened #107 "Downloading backup not working for IOS 12.4.5"
Trying few day suddenly  stop working for ios 12.4.5 2fa disable account . Its show bad apple id password but i change many time and i entering right credential and i also checked at id.apple.com its working but in this project shows bad appleid/password

[2020-03-31 09:04] RobLinux commented on #107
https://github.com/RobLinux/InflatableDonkey/commit/5994e47b3d471ec16add75bcc08ee91069d7684f

[2020-05-12 12:21] Aliasr commented on #87
Hi all. It seems InflatableDonkey finally stopped working completely a few days ago. Does anyone knows if it is a missing header or is it something more serious?

Did anyone managed to get it work with iOS 13?

Thanks all for the hard work to keep this project alive.

[2020-05-12 13:34] tapanshah1 commented on #107
xception in thread "main" java.lang.NoSuchMethodError: java.nio.ByteBuffer.position(I)Ljava/nio/ByteBuffer;
	at com.github.horrorho.inflatabledonkey.data.blob.BlobUtils.align(BlobUtils.java:53)
	at com.github.horrorho.inflatabledonkey.data.blob.BlobLists.lambda$importList$0(BlobLists.java:63)
	at java.util.stream.ReferencePipeline$3$1.accept(ReferencePipeline.java:193)
	at java.util.ArrayList$Arra

[2020-05-17 02:47] Aliasr opened #109 "Zone Retrieve Request Fails"
Hi all.

Looks that Apple recently implemented some changes that makes the zoneRetrieveRequest fail. I haven't been able to download my backups for about two weeks now. Has anyone faced a similar issue recently?

[2020-05-24 11:02] lostaconfused commented on #109
Yes, it is completely not working now. Maybe the person that provided the recent fix can provide another, hopefully. @RobLinux

[2020-06-02 09:41] RobLinux commented on #109
Not only that changed, but the file record retrieval is broken too now.
Zones can be retrieved through GSA login but then I'm stuck

[2020-06-19 11:16] ymohammad opened #110 "How to do iCloud Reverse engineering?"
Hi,

Could you please share the steps to perform iCloud Rever engineering? I have a jailbreak device but not able to find the steps to reverse engineer the iOS application.

[2020-06-30 07:32] ymohammad commented on #109
@RobLinux what is GSA login. When I am trying using InflatableDonkey, it is failing with an unauthorized error for ZoneRetrieveRequest. How did you achieve it?

[2020-07-22 22:31] snak3y commented on #109
@RobLinux Just getting back into all of this now as I see many versions are broken.

Looks like some of GSA flow changed as well? I tried to go through some of my old GSA code and I can't even get the M2 back when I send M1. Looks like there's a lot I need to catch up on...

[2020-07-22 22:34] RobLinux commented on #109
@snak3y it seems that for some accounts the password derivation function is a bit different and can result in a wrong M2 computing. I can show you if you contact me over skype / mail.

[2020-07-22 22:48] snak3y commented on #109
@RobLinux Message sent! Hopefully we can get this working.

[2020-07-28 21:21] RobLinux commented on #109
answered you!

[2021-04-28 06:43] hakanai opened #114 "Remove logback.xml from shipped jar"
Following the usual convention for libraries not to dictate the logger configuration, the logback.xml file should be removed from the jar file produced for this library.

This causes an issue where an application will get different logger configuration, depending on the order it happened to discover the jar files.

Though it is possible to work around this by trumping the file with a system proper

[2021-08-04 14:02] frankenstain123 commented on #87
@RobLinux If I understood you correctly you generated adi files with valid anisette data, which can be used for further downloading backup.

I tried different combinations of input data for machineProvisioning, but all that I get – different errors and account ban from Apple.
Did you get any progress on your research? Were you able to download some backups on Windows?
Also, could you share info ab

[2022-03-10 01:47] KJY5713 commented on #87
Could you give me a fiddler archieve for refrence?? In advance, Thakns lot!
Give me a reply with your email.

[2022-07-27 13:36] ewhgae457yaefgae4 opened #120 "Fixed version."